.search
  .container
    %h1
      %span 
        = @results.count
      resources found for
    %span{class: "label search-label active-label"} 
      = session[:search_query]
    %hr
    .row
      .col-md-2.hidden-xs.hidden-sm
        .configuration
          .header.text-center
            = image_tag("filter-icon.png", class: "filter")
            Filter Results
          .types
            %h4 Type
            %ul.list-unstyled
              %li
                %input{type: "checkbox"} Mobile App
              %li
                %input{type: "checkbox"} Web Resource
              %li
                %input{type: "checkbox"} In-person Service
          %span{class: "input-group-btn text-center"}
            %button.btn.btn-primary Filter
        .configuration
          .header.text-center
            = image_tag("plus-icon.png", class: "filter")
            Add Resource
          .bottom
            %p Are we missing something from these results?
            %p Suggest a resource to add.
          %span{class: "input-group-btn text-center"}
            %button.btn.btn-default Suggest
      .col-md-10
        .row
          .col-xs-12.visible-xs.visible-sm.mobile-configuration
            %ul.list-inline
              %li
                .dropdown
                  %a{"data-toggle" => "dropdown", class: "dropdown-toggle", href: "#"}
                    = image_tag("filter-icon.png", class: "filter")
                    Filter
                  %ul{"role" => "menu", class: "dropdown-menu dropdown-menu-form"}
                    %li
                      %label.checkbox
                        %input{type: "checkbox"} Mobile App
                    %li
                      %label.checkbox
                        %input{type: "checkbox"} Web Resource
                    %li
                      %label.checkbox
                        %input{type: "checkbox"} In-person Service
              %li
                %a
                  = image_tag("plus-icon.png", class: "filter")
                  Add Resource
        .row
          - @results.each do |result|
            .col-md-6
              .resource
                .content
                  .icon
                    = image_tag("app-icon.jpg", class: "img-responsive")
                  .copy
                    %h1 
                      = result.title
                    %p 
                      With Circle of 6, you can connect with your friends to stay close, stay safe and prevent violence before it happens. The circle of 6 app
                      %span.more ... more
                    .labels 
                      - result.tags.each do |tag|
                        %h5 
                          %span{class: "label filter-label"} #{tag.name}
                %p.read-more 
                  = link_to 'Read More', result
