.search
  .container
    %h1
      %span 
        = @records.count
      resources found for
    %span{class: "label search-label active-label"} 
      = session[:search_query_display]
    %hr
    .row
      .col-md-2.hidden-xs.hidden-sm
        .configuration
          .header.text-center
            = image_tag("filter-icon.png", class: "filter")
            Filter Results
          = form_tag("/search", method: 'get') do
            = hidden_field_tag 'q', session[:search_query]
            .types
              %h4 Type
              %ul.list-unstyled
                %li
                  = check_box_tag 'query_service_mode_filter[]', 'app', check_filter(@filters, 'app')
                  Mobile App
                %li 
                  = check_box_tag 'query_service_mode_filter[]', 'web', check_filter(@filters, 'web')
                  Website
                %li 
                  = check_box_tag 'query_service_mode_filter[]', 'service', check_filter(@filters, 'service')
                  In-person Service
            %span{class: "input-group-btn text-center"}
              %button.btn.btn-primary Filter
        .configuration
          .header.text-center
            = image_tag("plus-icon.png", class: "filter")
            Add Resource
          .bottom
            %p Are we missing something from these results?
            %p Suggest a resource to add.
          %span{class: "input-group-btn text-center"}
            %button.btn.btn-default Suggest
      .col-md-10
        .row
          .col-xs-12.visible-xs.visible-sm.mobile-configuration
            %ul.list-inline
              %li
                .dropdown
                  %a{"data-toggle" => "dropdown", class: "dropdown-toggle", href: "#"}
                    = image_tag("filter-icon.png", class: "filter")
                    Filter
                  %ul{"role" => "menu", class: "dropdown-menu dropdown-menu-form"}
                    %li
                      %label.checkbox
                        %input{type: "checkbox"} Mobile App
                    %li
                      %label.checkbox
                        %input{type: "checkbox"} Web Resource
                    %li
                      %label.checkbox
                        %input{type: "checkbox"} In-person Service
              %li
                %a
                  = image_tag("plus-icon.png", class: "filter")
                  Add Resource
        .row
          - @records.each_with_index do |rec, index|
            .col-md-6
              .resource
                .content
                  .icon
                    = image_tag(rec.image_url, class: "img-responsive")
                  .copy
                    %h1 
                      = link_to rec.title, rec
                    %p 
                      - if rec.highlight
                        = raw rec.highlight
                      - else
                        = raw rec.description_snippet
                      %span.more 
                        = link_to "... more", rec
                    .labels 
                      - rec.tags.each do |tag|
                        %h5 
                          %span{class: "label #{highlight_label_with_query(tag.name, session[:search_query])}"} #{link_to tag.name, tag.slug_link}
                      - rec.service_use_modes.each do |mode|
                        %h5
                          %span{class: "label #{highlight_label_with_query(mode.name, session[:search_query])}"} #{link_to mode.name, url_for(controller: 'search', action: 'index', q: session[:search_query], query_service_mode_filter: mode.name)}
                %p.read-more 
                  = link_to 'Read More', rec
