.details
  .container
    %a.back < Back to search results.
    %h1 Circle of 6
    .labels 
      %span{class: "label search-label big-label"} safety
      %span{class: "label search-label big-label"} app 

    .row
      .col-md-8
        .description
          .copy
            %p With Circle of 6, you can connect with your friends to stay close, stay safe and prevent violence before it happens. The Circle of 6 app for iPhone and Android makes it quick and easy to reach the 6 friends you choose.
     
            %p Need help getting home? Need an interruption? Two touches lets your circle know where you are and how they can help.
        .row
          .col-md-6.hidden-xs.hidden-sm
            .content-box.configuration
              .header
                = image_tag("pin-icon.png", class: "icon")
                Next Steps
              .copy
                %p Download from the App Store
                .related
                  %p Related Resources
                  %p.related-resource Kite String <span class="label filter-label">safety</span><span class="label filter-label">app</span>
                  %p.related-resource Guardly <span class="label filter-label">safety</span><span class="label filter-label">app</span>
          .col-md-6
            .content-box.configuration
              .header
                = image_tag("comment-icon.png", class: "icon")
                Reviews
              .copy
                %p This app has been reviewed and vetted by LYNCo staff. As always, continue to use proper caution as this app cannot guarantee your safety. 
      .col-md-4
        .content-box.configuration
          .header
            = image_tag("where-icon.png", class: "icon")
            Where
          .copy
            .download
              .icon
                = image_tag("app-icon.jpg", class: "img-responsive")
              .copy
                %h2 iTunes App Store
                %p By: Tech for Good Inc. 
                %p Download >
            .download
              .icon
                = image_tag("app-icon.jpg", class: "img-responsive")
              .copy
                %h2 Android Google Play
                %p By: Tech for Good Inc. 
                %p Download >
