%main{id: "search"}
  .container
    .row
      .col-md-6.hidden-xs.hidden-sm
        = image_tag("smartphone-smaller.jpg", class: "header-image")
      .col-md-6
        %h1{class: "headline"} If you or a loved one survived a crime or traumatic event, we want to help connect you to the right resources all in one place.
.sample-apps
  .container
    .row.heading-row
      .col-md-3.col-sm-1
        %hr.hidden-xs
      .col-md-6.col-sm-10
        %h2.heading.text-center It can be hard to believe you’ve been the victim of a crime, but it’s normal to feel fear, pain, and discomfort. 
        %h2.heading.text-center Here is a collection of mobile & web apps to get you what you need after a crime, or even help prevent one. 
      .col-md-3.col-sm-1
        %hr.hidden-xs
    .browse-apps
      .row.hidden-xs.hidden-sm
        .col-md-4
          .content
            = image_tag("lifesaver-icon.png", class: "center-block icon")
            %h3{class: "headline text-center"} Safety
            .hidden-xs
            %p{class: "byline"} When you’re in a bad or dangerous situation, grab your phone and access these resources to keep you and your loved ones safe.
            %p{class: "tag-text"} Related Tags
            %span{class: "input-group-btn"}
              %button{class: "btn btn-primary", type: "button" "data-target" => "/tags/safety"} Browse Safety Apps
        .col-md-4
          .content
            = image_tag("firstaid-icon.png", class: "center-block icon")
            %h3{class: "headline text-center"} Well-Being
            %p{class: "byline"} Your health and well-being are critical to recovery. Connect with resources to heal your mind and body both short- and long-term.
            %p{class: "tag-text"} Related Tags
            %span{class: "input-group-btn"}
              %button{class: "btn btn-primary", type: "button" "data-target" => "/tags/wellbeing"} Browse Health Services Apps
        .col-md-4
          .content
            = image_tag("gavel-icon.png", class: "center-block icon")
            %h3{class: "headline text-center"} Justice
            %p{class: "byline"} Navigating the legal system can be confusing, especially in a time of need. Browse resources to help you find a resolution.
            %span{class: "input-group-btn"}
              %button{class: "btn btn-primary", type: "button" "data-target" => "/tags/justice"} Browse Legal Resources Apps
      .row.hidden-md.hidden-lg
        .col-xs-12.col-sm-4
          .content
            = image_tag("lifesaver-icon.png", class: "center-block icon")
            %h3{class: "headline text-center"} Safety
            %span{class: "input-group-btn text-center"}
              %button{class: "btn btn-primary", type: "button", "data-target" => "/tags/safety"} Browse Safety Apps
        .col-xs-12.col-sm-4
          .content
            = image_tag("firstaid-icon.png", class: "center-block icon")
            %h3{class: "headline text-center"} Well-Being
            %span{class: "input-group-btn text-center"}
              %button{class: "btn btn-primary", type: "button", "data-target" => "/tags/wellbeing"} Browse Health Services Apps        .col-xs-12.col-sm-4
          .content.center-block
            = image_tag("gavel-icon.png", class: "center-block icon")
            %h3{class: "headline text-center"} Justice
            %span{class: "input-group-btn text-center"}
              %button{class: "btn btn-primary", type: "button", "data-target" => "/tags/justice"} Browse Legal Resources
.info
  .container
    .rows
      .col-md-offset-2.col-md-8
.sponsors
  .container
.separator
