.details
  .container
    .description
      %p
        %a.back 
          = link_to "< Back to search results.", session[:search_route]
    %h1 
      = @web_service.title
    .labels 
      - @web_service.tags.each do |t|
        %span{class: "label tag-label big-label"} #{t.name}

    .row
      .col-md-8
        .description
          .copy
            %p
              = raw @web_service.description
        .row
          .col-md-6
            .content-box
              .header
                = image_tag("pin-icon.png")
                Next Steps
              .related.copy
                %p Related Resources
                - @web_service.related_resources.each do |rr| 
                  %p.related-resource 
                    = link_to rr.title, rr
                    - rr.tags.each do |rr_tag|
                      %span.label.tag-label
                        = link_to rr_tag.name, rr_tag.slug_link
          .col-md-6
            .content-box
              .header
                = image_tag("comment-icon.png")
                Reviews
              .copy
                %p This app has been reviewed and vetted by LYNCo staff. As always, continue to use proper caution as this app cannot guarantee your safety. 
      .col-md-4
        .content-box
          .header
            = image_tag("where-icon.png")
            Where
          .copy
            - @web_service.download_urls.each do |du|
              .download
                .icon
                  = image_tag("app-icon.jpg")
                .copy
                  %h2 #{du.link_type}
                  %p By: -------
                  %p #{link_to 'Download >', du.url}
